body { 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200vh;
    align-items: stretch;
    margin: 0;
}

.links {
    display: flex;
    justify-content: space-around;
    
}

.links-right {
    list-style-type: none;
    padding: 0;
    display: flex;
    font-size: 18px;
    color: #e5e7eb;
   align-items: center;
   gap: 8px;
}

.links-left { 
    list-style-type: none;
    padding: 0;
    font-size: 24px;
    color:#f9faf8;
}

a { 
   text-decoration: none; 
   color: #e5e7eb;
}

.header { 
    background-color: #1f2937;
    flex: 0 1 auto;

}

.hero { 
    display: flex;
    flex: 3 0 auto;
    justify-content: center;
    background-color: #1f2937;
    gap: 16px;
    

}

.hero .left { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
     


}

.heroheader { 
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.maintext { 
    font-size: 18px;
    color: #e5e7eb;
}

.signbutton { 
    display: flex;
    width: fit-content;
    background-color: #3883f6 ;
    color: #e5e7eb;
   
}

.hero .right { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #e5e7eb;


}

.image { 
    width: 300px;
    height: 150px;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content { 
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;

}

.top { 
    font-size: 36px;
    font-weight: bold;
    color: #1f2937
}

.stuff { 
    display: flex;
    gap: 24px;
}

.thing { 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box { 
    width: 150px;
    height: 150px;
    border-style: solid;
    border-color: #3882f6;
    border-width: 4px;
    border-radius: 25px;
}

.disctext { 
    width: 150px;
    text-align: center;
}

.quote { 
    flex: 1.5 0 auto;
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.inspiring { 
    font-size: 36px;
    font: light italic;
    color: #1f2937;
    width: 800px;

}

.fella {
    align-self: flex-end;
    padding-right: 200px;
    font-weight: bold;
    font-size: 24px;
}

.sign {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    height: 350px;
    justify-content: center;

    

}

.blue { 
    margin-left: 150px;
    margin-right: 150px;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #3883f6;
    border-width: 2px;
    border-color: #3883f6;
    border-radius: 15px;
    display: flex;
    justify-content: space-around;

}

.call { 

    font-size: 24px;
    font-weight: bold;
    color: #e5e7eb;
    

}

.footer { 
    flex: 0 1 auto;
    display: flex;
    background-color: #1f2937;
    justify-content: center;
    color: #e5e7eb;

}